@import '../../styles/colors.scss';
@import '../../styles/spaces.scss';

.delete_course {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 40px;

  .ReactTable {
    background-color: $background-button-color;
    color: $primary-color;

    .rt-thead {
      background-color: $background-color;
      font-size: 1.2rem;
    }
  }
}
