$primary-color: #cdd9e5;
$secondary-color: #adbac7;
$disabled-color: #636e7b;
$logo-color: #0660df;
$focus-color: #4184e4;
$background-color: #2d333b;
$background-secondary-color: #22272e;
$background-ternary-color: #24242c;
$background-button-color: #373e48;
$valid: #4CAF50;
$invalid: #EF5350;