$primary-color: #cdd9e5;
$secondary-color: #adbac7;

$logo-color: #0660df;

$disabled-color: #636e7b;
$focus-color: #3a95bf;

$background-color: #2d333b;
$background-secondary-color: #22272e;
$background-ternary-color: #24242c;
$background-button-color: #373e48;

$valid: #4CAF50;
$invalid: #EF5350;

$danger-color: #ca1616a6;
$warning-color: #0fe6ee71;
$success-color: #0863ec81;