@import '../../styles/colors.scss';
@import '../../styles/spaces.scss';

.htmlEditorGroup {
  .tox {
    margin-top: $group-gap;
    border: 1px solid #636e7b;
    border-radius: 10px;

    .tox-editor-container {
      overflow: auto;

      .tox-editor-header {
        z-index: auto;
      }
    }

    .tox-statusbar {
      background-color: $background-color;
    }
  }

  .tox-menubar {
    background-color: $background-color !important;
    color: $primary-color !important;
  }

  .tox-toolbar__primary {
    background-color: $background-color !important;
    color: $primary-color !important;
  }
}