@import '../../styles/colors.scss';
@import '../../styles/spaces.scss';

.selectGroup {
  .react-select-container {
    margin: 10px 0px;
    color: $primary-color;
  
    .react-select__control {
      background-color: $background-button-color;
      border: 1px solid #636e7b;
      border-radius: 4px;
      padding: 0px 4px;
      outline: none;
    
      .react-select__value-container{
        .react-select__single-value {
          color: $primary-color;
          font-size: 1rem;
        }
  
        .react-select__placeholder{
          color: #adbac7;
          opacity: 0.7;
        }
      }
      
      .react-select__indicators {
        .react-select__indicator-separator {
          background-color: $background-button-color;
        }
      }
    }
  
    .react-select__menu {
      background-color: $background-button-color;
      border: 1px solid #636e7b;
  
      .react-select__menu-list{
        background-color: $background-color;
  
        .react-select__option{
          font-size: 1rem;
          color: $primary-color;
        }
  
        .react-select__option--is-focused {
          background-color: $disabled-color;
        }
  
        .react-select__option--is-selected {
          background-color: $disabled-color;
        }
      }
    }
  }
}
