@import "../../styles/colors.scss";
@import "../../styles/spaces.scss";

.vertical_logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    img {
        height: 82px;
        width: 82px;

        margin: 24px;
    }

    .title {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        gap: 12px;

        h1 {
            font-size: 1.2rem;
            font-weight: 900;

            color: $primary-color;

            strong {
                font-size: 1.4rem;
                font-weight: 800;
                color: transparent;
                // text-shadow: 0 0 1rem $logo-color;
                background: linear-gradient(to left,
                        #58b9a3,
                        #4cabad,
                        #3b97bf,
                    );
                -webkit-background-clip: text;
                background-clip: text;
            }
        }

        h2 {
            font-size: 0.9rem;
            font-weight: 200;

            color: $secondary-color;

            text-align: center;
        }
    }
}