@import "../../styles/colors.scss";
@import "../../styles/spaces.scss";

.signin {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    gap: 16px;

    h2 {
        color: $secondary-color;

        font-size: 1rem;
        font-weight: 200;

        margin-bottom: 8px;
    }

    button {
        width: 100%;
    }

    a {
        font-size: 0.8rem;
        color: $focus-color;
        text-transform: lowercase;
        text-decoration: none;
        cursor: pointer;

        &:hover {
            text-decoration: underline;
        }
    }
}