@import '../../styles/colors.scss';
@import '../../styles/spaces.scss';

.add_article {
    .form {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: stretch;

        gap: 20px;

        padding: 24px;

        .row {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: stretch;

            gap: 16px;

            .mr {
                margin-right: $outside-gap;
            }

            .group {
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                align-items: stretch;

                gap: 8px;

                label {
                    font-size: 1rem;

                    span {
                        font-size: 0.7rem;
                        color: $secondary-color;
                    }
                }

                select {
                    option {
                        margin: 8px;
                        font-size: 1rem;
                    }
                }
            }
        }

        .row_editor {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: stretch;

            gap: 8px;
        }
    }

    .full_width {
        flex: 1;
    }
}