@import '../../styles/colors.scss';
@import '../../styles/spaces.scss';

.add_article {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;

    gap: 16px;

    .form {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: stretch;

        gap: 16px;

        padding: 16px;

        .col {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: stretch;

            gap: 16px;
        }

        .row {
            display: flex;
            flex-direction: row;
            justify-content: stretch;
            align-items: stretch;

            gap: 16px;

            .group {
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                align-items: stretch;

                gap: 8px;

                flex: 1;

                label {
                    font-size: 1rem;

                    span {
                        font-size: 0.7rem;
                        color: $secondary-color;
                    }
                }

                select {
                    option {
                        margin: 8px;
                        font-size: 1rem;
                    }
                }
            }
        }

        .row>.col {
            flex: 1;
        }

        .row_editor {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: stretch;

            gap: 8px;
        }
    }
}