@import '../../styles/colors.scss';

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;

    background-color: $background-secondary-color;

    height: 100px;
}