@import '../../styles/colors.scss';

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    background-color: $background-secondary-color;

    padding: 0px 16px;

    .logo {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        gap: 16px;

        img {
            height: 56px;
            width: 56px;
        }

        div {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;

            gap: 2px;

            h1 {
                font-size: 1rem;
                font-weight: 600;

                color: $primary-color;

                span {
                    text-shadow: 0 0 1rem $primary-color;
                }
            }

            h2 {
                font-size: 0.9rem;
                font-weight: 200;
                color: $secondary-color;
            }
        }
    }

    .spacer {
        flex: 1;
    }

    .userSettings {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin: 20px;

        .notifications {
            margin-right: 20px;

            i {
                font-size: 1.5rem;
            }
        }

        .workbench {
            margin-right: 20px;

            i {
                font-size: 1.5rem;
            }
        }

        .userNotes {
            display: flex;
            flex-direction: column;
            justify-content: center;

            span {
                text-align: right;
                margin-bottom: 4px;
            }
        }

        .dropdown {
            display: flex;
            flex-direction: row;
            align-items: center;
            background: none;
            cursor: pointer;

            img {
                border-radius: 50%;
                height: 42px;
                width: 42px;
                background-color: $disabled-color;
            }

            i {
                font-size: 1.2rem;
                margin-left: 12px;
            }
        }
    }

    .signin {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 20px;
        text-decoration: none;
        color: inherit;
        cursor: pointer;

        i {
            font-size: 1.2rem;
            margin-bottom: 10px;
            text-align: center;
        }

        span {
            font-size: 1rem;
        }
    }
}