@import '../../styles/colors.scss';
@import '../../styles/spaces.scss';

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: 1.2rem;
  margin-top: 16px;

  a {
    color: $primary-color;
    text-decoration: none;
    text-align: center;
    padding: 20px 20px 20px 20px;
  }

  button {
    font-size: 1em;
    border: none;
    outline: none;
    background: none;
    cursor: pointer;
    color: $primary-color;
  }

  .active {
    background-color: $background-secondary-color;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
  }
}
