@import "../../styles/colors.scss";
@import "../../styles/spaces.scss";

.pageTitle {
    // background-image: url('../../assets/imgs/home.gif');
    // background-position: center;
    // background-size: cover;
    // box-shadow: 0 0 35px 0px #151414 inset;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    height: 40px;

    h1 {
        font-size: 1.2rem;
    }

    h2 {
        font-size: 1.1rem;
    }
}