@import '../../styles/colors.scss';
@import '../../styles/spaces.scss';

.sidebar {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;

    background-color: $background-secondary-color;
    border-radius: 8px;

    width: 340px;
    height: auto;

    padding: 24px 16px;

    .toggle {
        align-self: flex-end;
        display: none;
        border: none;
        outline: none;
        background: none;
        box-shadow: none;
        cursor: pointer;
        color: $primary-color;

        i {
            font-size: 1.5rem;
        }
    }

    .menu {
        display: flex;
        flex-direction: column;

        width: 100%;

        flex: 1;

        .item {
            display: flex;
            justify-content: space-between;
            align-items: center;
            color: $secondary-color;
            padding: 20px;
            text-decoration: none;
            font-size: 1rem;

            &.selected {
                background: $background-color;
                border-left: 4px solid $secondary-color;
            }

            &:hover {
                background: $background-color;
                border-left: 4px solid $secondary-color;
            }

            .label {
                display: flex;
                flex-direction: row;

                i {
                    margin-right: 10px;
                }
            }
        }

        .subitem {
            height: 42px;
            padding-left: 2rem;
            display: flex;
            align-items: center;
            text-decoration: none;
            color: $secondary-color;
            font-size: 0.8rem;

            &:hover {
                background: $background-color;
            }
        }
    }

    .logout {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        color: $secondary-color;
        margin: $outside-gap;
        padding: $inside-gap;
        text-decoration: none;
        cursor: pointer;

        i {
            margin-bottom: 10px;
            font-size: 1.5rem;
        }
    }
}

@media only screen and (max-width: 680px) {
    .sidebar {
        &[data-status='open'] {
            -webkit-transform: translate3d(0px, 0px, 0px);
            transform: translate3d(0px, 0px, 0px);
            transition: all 0.5s ease 0s;
            -webkit-transition: all 0.5s ease 0s;
        }

        &[data-status='closed'] {
            -webkit-transform: translate3d(-100%, 0px, 0px);
            transform: translate3d(-100%, 0px, 0px);
            transition: all 0.5s ease 0s;
            -webkit-transition: all 0.5s ease 0s;
        }

        .toggle {
            display: block;
        }

        .profile {
            margin-top: 0px;
        }
    }
}