@import '../../styles/colors.scss';
@import '../../styles/spaces.scss';

.signup {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    gap: 12px;

    h2 {
        color: $secondary-color;

        font-size: 1rem;
        font-weight: 200;

        margin-bottom: 8px;
    }

    button {
        margin-bottom: 8px;
        width: 100%;
    }

    .link {
        color: #5065db;

        text-transform: lowercase;
        text-decoration: none;

        cursor: pointer;

        &:hover {
            text-decoration: underline;
        }
    }
}