@import '../../styles/colors.scss';
@import '../../styles/spaces.scss';

.profile {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;

    gap: 16px;

    padding: $inside-gap;

    form {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: stretch;

        gap: 16px;

        margin-top: $outside-gap;

        .col {
            display: flex;
            flex-direction: column;
            justify-content: stretch;
            align-items: stretch;

            gap: 16px;
        }

        .row {
            display: flex;
            flex-direction: row;
            justify-content: stretch;
            align-items: stretch;

            gap: 16px;
        }

        .row>.col:first-child {
            flex: 1;
        }

        button {
            width: 220px;
        }

        .group {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: stretch;

            gap: 16px;
        }

        .flex_end {
            justify-content: flex-end;
        }
    }
}